{% extends 'base.html' %}
{% load static %}
    
{% block links %}
    <link rel="stylesheet" href="{% static 'css/order.css' %}">
    <link rel="stylesheet" href="{% static 'css/order__create.css' %}">
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="order__header">
    <div class="content">
        <div class="order__header__back_to_cart">
            <a href="{% url 'order:cart' %}"><img src="{% static 'img/ico/arrow.svg' %}" alt=""> Моя корзина</a> 
        </div>
        <div class="logo">
            <a href="/">
                <img src="{% static 'img/logo.png' %}" alt="logo">
            </a>
        </div>
        <div class="order__header__security">
            <img src="{% static 'img/ico/security.svg' %}" alt="*">
            <span>безопасность транзакций</span> 
        </div>
    </div>
    
</div>
<div class="order">
    <div class="order__main">
        <h1 class="main_title h1"><span class="step_num">1</span> Способ доставки</h1>
        {% if order.free_delivery  %}
            <p class="h5 pb24">Выберите способ доставки и укажите адрес, для вашего заказа.</p>
        {% else %}
            <p class="h5 pb24">Выберите способ доставки и укажите адрес, для вашего заказа будет произведён расчёт стоимости</p>
        {% endif %}
        <div class="delivery_methods">
            <!-- RUSPOST -->
            <div class="delivery_methods__item {% if order.free_delivery %}active{% endif %}" data-key="ruspost"  data-selected=false data-adress=false>
                <label>
                    <div class="check_box big_check_box">
                        <input type="radio" name="order_delivery_method" data-key="ruspost" data-api_name="russianpost" id="daelivery_ruspost" value="Почта России">
                        <span class="checkmark"></span>
                    </div>
                    <div class="logo">
                        <img src="{% static 'img/rus_post.png' %}" alt="rus post">
                    </div>
                    <div class="info">
                        <p>Отделение Почты России</p>
                        <p class="grey">Доставка от 3 дней</p>
                        <p class="cost">
                            {% if order.free_delivery %}
                                <span>Бесплатно</span>
                            {% else %}
                                <span class="method_price" id="ruspost_price">0</span> RUB
                            {% endif %}
                        </p>
                    </div>
                    
                </label>
                <div class="adress">
                    <p class="h5 upper title">Адрес доставки</p>
                    <div data-key="ruspost" class="adress_prev adress_prev__ruspost"></div>
                </div>
            </div>
            {% if order.free_delivery == False %}
            <!-- CDEK -->
            <div class="delivery_methods__item" data-key="cdek" data-selected=false data-adress=false>
                <label>
                    <div class="check_box">
                        <input type="radio" name="order_delivery_method" data-key="cdek" data-api_name="cdektk" id="daelivery_cdektk" value="rus_post">
                        <span class="checkmark"></span>
                    </div>
                    <div class="logo">
                        <img src="{% static 'img/cdek.png' %}" alt="PickPoint">
                    </div>
                    <div class="info">
                        <p>Пункт самовывоза</p>
                        <p class="grey">Доставка от 2 дней</p>
                        <p class="cost"><span class="method_price" id="cdek_price">0</span> RUB</p>
                    </div>
                    
                </label>
                <div class="adress">
                    <p class="h5 upper title">Адрес доставки</p>
                    <div data-key="cdek" class="adress_prev adress_prev__cdektk"></div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    
    <div class="order__form">
        <h2 class="main_title h1"><span class="step_num">2</span> Оплата</h2>
        <div class="total_table">
            <div class="total_save"></div>
            <div class="row">
                <span class="title">Стоимость товаров</span>
                <span class="data ">
                    <span data-price="{{ order.products_cost }}" class="number big_num total_products_price initial_total_price_num">{{ order.initial_cost }}</span>
                    <span class="currency"> RUB</span>
                </span>
            </div>
            <div class="row">
                <span class="title">Скидка по купону</span>
                    {% if order.discount_cost %}
                        <span class="data coupon_total_discount active">
                            <span class="number big_num">{{ order.discount_cost }}</span>
                            <span class="currency"> RUB</span>
                        </span>
                    {% else %}
                        <span class="data coupon_total_discount">
                            <span>нет</span>
                        </span>
                    {% endif %} 
                </span>
            </div>
            <div class="row">
                <span class="title">Доставка</span>
                {% if order.free_delivery %}
                    <span class="data">Бесплатно</span>
                {% else %}
                    <span class="data ">
                        <span class="number big_num delivery_chosen_price">0</span>
                        <span class="currency"> RUB</span>
                    </span>
                {% endif %}
            </div>
            <div class="total row">
                <div class="title">
                    <p>
                        <span class="bold h5">Всего</span><span class="h6"> с НДС</span>
                    </p>
                </div>
                <span class="data bold h4">
                    <span class="number big_num total_price_with_delivery total_price_num">{{ order.products_cost }}</span>
                    <span class="currency">rub</span>
                </span>
            </div>
            <div class="create_order_btn_wrapper disabled tooltip">
                <span class="tooltiptext">Выберите один из способов доставки</span>
                <a class="submit_order" href="{% url 'order:make_order' %}">
                    <button class="button h4 bold create_order_btn">Перейти к оплате</button>
                </a>
            </div>
        </div>
        <div class="products_list order__products_list">
            {% for product in order.products.all %}
                <div class="order__product">
                    <a href="{{ product.variant.get_absolute_url }}" class="image">
                        <img src="{{ product.variant.imgs.photo_1.s }}" alt="">
                    </a>
                    <div class="info">
                        <p class="name bold h5">{{ product.name }}</p>
                      
                        <div class="product_color">
                            <span>Цвет: </span>
                            <span class="color" 
                                style="{% if product.color.image %}background-image: url({{ product.color.imgs.image.xs }}){% else %}background-color: {{ product.color.hex }}{% endif %};">
                            </span>
                        </div>
                            
                        
                        <p class="code">Артикул: {{ product.code }}</p>
                        <p class="quantity">Кол-во: {{ product.quantity }} шт.</p>
                        <div data-product_id="{{ product.product_id }}" data-variant_id="{{ product.variant_id }}" class="remove order_item__remove"></div>
                        
                        <p class="product_price {% if product.old_price > product.price %}discount{% endif %}">
                            <span class="currnet_price"><span class="number big_num">{{ product.price }}</span> RUB</span>
                            {% if product.old_price > product.price %}
                            <span class="old_price big_num">{{ product.old_price }} RUB</span>
                            {% endif %}
                        </p>

                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pay_types">
            <span class="h5 upper">Способы оплаты</span>
            <img src="{% static 'img/pay_types.png' %}" alt="Pay types">
            <ul class="h6 pay_rules">
                <li data-price="{{ front_files.minimal_order }}" class="minimal_order_price">
                    <img class="yes" src="{% static 'img/ico/checkbox.svg' %}" alt="+">
                    <span>Минимальная сумма заказа - {{ front_files.minimal_order }} RUB</span>
                </li>
                <li data-price="{{ front_files.free_delivery }}" class="free_delivery_price">
                    {% if order.free_delivery %}
                        <img class="yes" src="{% static 'img/ico/checkbox.svg' %}" alt="+">
                    {% else %}
                        <img class="no" src="{% static 'img/ico/close.svg' %}" alt="-">
                    {% endif %}
                    <span>Бесплатная доставка для заказов от {{ front_files.free_delivery }} RUB</span>
                    
                </li>
            </ul>
            <p class="pay_note">Выбор способа и расчет стоимости доставки производится во время оформления заказа</p>
        </div>
    </div>
</div>


<!-- POPUPS -->

<!-- RUS POST FORM CHANGE-->
{% include 'ui/popup.html' %}
{% endblock %}

{% block js %}
<script>
   
    const userBaseData = JSON.parse(`{{ user_data|safe }}`)
    
    const orderBtnWrp =         document.querySelector('.create_order_btn_wrapper')
    const deliveryAdressForm =     `{% include "shop/order/forms/delivery_adress_form.html" %}`
    const deliveryAdressList =     `{% include "shop/order/forms/delivery_adress_list.html" %}`
    const deliveryAdressPreview =  `{% include "shop/order/forms/delivery_adress_preview.html" %}`
    const orderProductTpl =        `{% include 'shop/order/order_product_create__tpl.html' %}`
    const orderProductsList =       document.querySelector('.order__products_list')
    const adressPrev =              document.querySelectorAll('.adress_prev')
    // Urls
    const deliveryAdressURlUpdate = "{% url 'delivery:save_adress' %}"
    const deliveryAdressURlSet =    "{% url 'delivery:set_adress' %}"
    const deliveryAdressUrlGet =    "{% url 'delivery:get_adress' %}"
    const citySearchUrl =           "{% url 'core:search_city' %}"
    const freeDelivery = {{ order.free_delivery|lower|safe }}
</script>

<script src="{% static 'js/order/delivery.js' %}"></script>
<script src="{% static 'lib/form_validation.js' %}"></script>
<script src="{% static 'lib/popup.js' %}"></script>
<script>
    let submitOrder = document.querySelector('a.submit_order')
    submitOrder.onclick = (e) => {
        e.preventDefault()
        for (let input of deliveryMethodInputs) {
            if (input.checked) {
                let response = XHR('POST', submitOrder.href, JSON.stringify({'delivery' : input.dataset.key}))
                data = response['payment']
                if (data['confirmation'] != undefined) {
                    window.location.replace(data['confirmation']['confirmation_url'])
                }
            }
        }
    }
</script>


{% endblock %}