{% extends 'base.html' %}
{% load static %}
    
{% block links %}
    <link rel="stylesheet" href="{% static 'css/order.css' %}">

{% endblock %}

{% block content %}

<div class="order">
    <div class="order__main">
        <h1 class="main_title h1">Корзина <span class="order_quantity"><span class="order_quantity_number">0</span> шт.</span></h1>
        <div class="products_list order__main_list">
            
        </div>
    </div>
    <div class="order__form">
        <div class="total_save"></div>
        
        <div class="total_table">
            <div class="row">
                <span class="title">Стоимость товаров</span>
                <span class="data "><span class="number big_num initial_total_price_num">0</span><span class="currency"> RUB</span></span>
            </div>
            <div class="row">
                <span class="title">Скидка по купону</span>
                <span class="data coupon_total_discount">
                    <span class="number big_num">{{ order.discount_cost }}</span> 
                    <div class="promocode_info_inactive" aria-label="Используйте промокод купона для получения дополнительной скидки" data-microtip-size="medium" data-microtip-position="left" role="tooltip">
                        <img class="info promocode_info_black" src="{% static 'img/ico/info_black.svg' %}" alt="i" >
                    </div>
                    <div class="promocode_info_active" data-total="0" aria-label="Дополнительная скидка по купону составляет" data-microtip-size="medium" data-microtip-position="left" role="tooltip">
                        <img class="info promocode_info_blue" src="{% static 'img/ico/info.svg' %}" alt="i" >
                    </div>
                    
                </span>
            </div>
            <div class="total row">
                <div class="title">
                    <p>
                        <span class="bold h5">Всего</span><span class="h6"> с НДС</span>
                    </p>
                    <p class="h6 add_info">(Без учета стоимости доставки)</p>
                </div>
                <span class="data bold h4">
                    <span class="number big_num total_price_num">0</span>
                    <span class="currency"> RUB</span>
                </span>
            </div>
            <div class="create_order_btn_wrapper tooltip">
                <span class="tooltiptext">Минимальная сумма для заказа {{ front_files.minimal_order }} RUB</span>
                <a href="{% url 'order:order_or_register' %}">
                    <button class="button h4 bold create_order_btn">Перейти к оформлению</button>
                </a>
            </div>
            
        </div>
        <div class="pomo_code">
            <div class="drop_button pomo_code_button">
                <span class="h5">У меня есть промокод</span>
                <div class="arr">
                    <img src="{% static 'img/ico/arrow.svg' %}" alt=">">
                </div>
            </div>
            
            <div class="pomo_code_data">
               
                <form class="form" action="{% url 'coupon:coupon' %}" method="POST" id="promocode_form">
                    <div>
                        <p class="prormocode_messages message"></p>
                        <div class="smart_input_label">
                            <label for="promocode__input h6">
                                <input id="promocode__input" type="text" required>
                                <span>Введите промокод</span>
                            </label>
                        </div>
                        <button class="button" type="submit">Добавить <img src="/static/img/preloader.gif" alt="*"></button>
                    </div>
                    
                </form>
            </div>
        </div>
        <div class="pay_types">
            <span class="h5 upper">Способы оплаты</span>
            <img src="{% static 'img/pay_types.png' %}" alt="Pay types">
            <ul class="h6 pay_rules">
                <li data-price="{{ front_files.minimal_order }}" class="minimal_order_price">
                    <img class="no"  src="{% static 'img/ico/close.svg' %}" alt="-">
                    <img class="yes" src="{% static 'img/ico/checkbox.svg' %}" alt="+">
                    <span>Минимальная сумма заказа - {{ front_files.minimal_order }} RUB</span>
                </li>
                <li data-price="{{ front_files.free_delivery }}" class="free_delivery_price">
                    <img class="no"  src="{% static 'img/ico/close.svg' %}" alt="-">
                    <img class="yes" src="{% static 'img/ico/checkbox.svg' %}" alt="+">
                    <span>Бесплатная доставка для заказов от {{ front_files.free_delivery }} RUB</span>
                    
                </li>
            </ul>
            <p class="pay_note">Выбор способа и расчет стоимости доставки производится во время оформления заказа</p>
        </div>
    </div>
</div>
{% include 'ui/popup.html' %}
{% endblock %}

{% block js %}
<script src="{% static 'lib/popup.js' %}"></script>
<script>
    const orderProductsList =   document.querySelector('.order__main_list')
    const orderProductTpl = `{% include 'shop/order/order_product__tpl.html' %}`
</script>
<script src="{% static 'js/order/cart.js' %}"></script>
<script src="{% static 'js/order/promocode.js' %}"></script>

{% endblock %}