amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.26.post2
certifi==2020.6.20
chardet==3.0.4
distro==1.5.0
Django==2.2.1
django-appconf==1.0.4
django-celery==3.3.1
django-cleanup==5.0.0
django-colorfield==0.3.2
django-dbbackup==3.3.0
django-filter==2.3.0
django-jsonfield==1.4.0
django-multiselectfield==0.1.12
django-select2==7.4.2
django-storages==1.9.1
djangorestframework==3.11.1
fuzzywuzzy==0.18.0
idna==2.10
kombu==3.0.37
Markdown==3.2.2
Pillow==7.2.0
psycopg2==2.8.5
Pygments==2.6.1
pygount==1.2.4
python-Levenshtein==0.12.0
python-Levenshtein-wheels==0.13.1
python-oauth2==1.1.1
pytz==2020.1
requests==2.24.0
sh==1.13.1
singlemodeladmin==0.9
six==1.15.0
sqlparse==0.3.1
Unidecode==1.1.1
urllib3==1.25.10
uuid==1.30
yandex-checkout==1.6.3
