{% extends 'base.html' %}
{% load static %}
    
{% block links %}
    <link rel="stylesheet" href="{% static 'css/pages.css' %}">
{% endblock %}

<!-- TITLE -->
{% block title %}
    {% if page.meta_title %}{{ page.meta_title }}{% else %}{{ page.name }}{% endif %}
{% endblock %}
<!-- DESCRIPTION -->
{% block meta_description %}
    {% if page.meta_descr %}{{ page.meta_descr }}{% else %}{% endif %}
{% endblock %}

{% block content %}
<div class="pages">
    <div class="content">
        <p class="title">{{ page.name }}</p>
        
        {% if page.imgs.image.main %}
            <img src="{{ page.imgs.image.main }}" alt="">
        {% elif page.imgs.image.l %}
            <img src="{{ page.imgs.image.l }}" alt="">
        {% endif %}
        
        {% for block in page.blocks.all %}
            <div class="block">
                <p class="title">{{ block.name }}</p>
                <div class="richtext text">{{ block.text|safe }}</div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
<!-- JS -->
{% block js %}
{% endblock %}