{% if products.0 %}
  {% for product in products %}
    <div class="product__wrapper">
        <div class="product">
          <a href="{{ product.url }}" class="image product_image">
              {% if product.add_image.s %}
                <img class="product_image_main"      src="{{ product.image.s }}" alt="">
                <img class="product_image_secondary" src="{{ product.add_image.s }}" alt="">
              {% else %} 
                <img  src="{{ product.image.s }}" alt="">
              {% endif %}
          </a>
          <div class="info">
            {% if product.status|length %}
              {% for status in product.status %}
                <p class="status" style="color: {{ status.color }};">{{ status.name }}</p>
              {% endfor %}
            {% endif %}
            <a href="{{ product.url }}" class="name">{{ product.name }}</a>
            <p class="product_price {% if product.old_price > product.price %}discount{% endif %}">
              <span class="currnet_price"><span class="number big_num">{{ product.price }}</span> RUB</span>
              {% if product.old_price > product.price %}
                <span class="old_price "><span class="number big_num">{{ product.old_price }}</span> RUB</span>
              {% endif %}
            </p>
          </div>
        </div>
    </div>
  {% endfor %}
{% else %}
<p class="h4 grey">Список товаров пуст</p>
{% endif %}