<footer>
    <div class="content">
        <div class="info">
            <a href="/">{{ front_files.copyright }}</a>
            <p class="upper h6">Все права защищены</p>
        </div>
        <div class="social">
            <ul>
                
                {% for file in front_files.icons.all %}
                    <a class="social_link" href="{{ file.url }}" data-tippy-content="{{ file.name }}" tabindex="0">
                        <li>
                            <img src="{{ file.icon.url }}" alt="">
                        </li>
                    </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>