{% extends 'base.html' %}
{% load static %}
    
{% block links %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/microtip/microtip.css">

{% endblock %}

{% block content %}
<div class="product_page">
    <div class="content product__content">
        <div class="about">
            <div class="galery__wrapper">
                {% include 'shop/product/product__galery.html' %}
            </div>
            
            <div class="product__info">
                {% if product.description %}
                <div class="description">
                    <p class="title h4">Описание</p>
                    <p class="text">{{ product.description }}</p>
                </div>
                {% endif %}
                {% if product.preferences %}
                <div class="preferences">
                    <p class="title h4">Характеристики</p>
                    <p class="text">{{ product.preferences }}</p>
                </div>
                {% endif %}
            </div>
        </div>
        {% include 'shop/product/product__actions.html' %}
    </div>
    
    {% include 'shop/product/product__recomendations.html' %}
    
    
</div>
{% include 'shop/product/product__added_to_cart.html' %}
{% endblock %}

{% block js %}
{% csrf_token %}
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'js/product/galery.js' %}"></script>
<script src="{% static 'lib/sticky-sidebar-master/dist/sticky-sidebar.js' %}"></script>
<script>
    var sidebar = undefined

    function sidebarInit() {
        sidebar = new StickySidebar('.product__actions__wrapper', {
            containerSelector: '.product__content',
            innerWrapperSelector: '.product__actions',
            topSpacing: 0,
            bottomSpacing: 80,
        });
    }
    
    var mql = window.matchMedia('(max-width: 960px)');
    if (mql.matches == false) { sidebarInit() }


    function screenTest(e) {
        if (e.matches && window['sidebar'] != undefined) {
            console.log('< 960');
            sidebar.destroy()
        } else {
            console.log('> 960');
            sidebarInit()
        }
    }
    mql.addListener(screenTest);

   

    
    const recomendations = new Swiper('.recomendation_list', {
        loop: true,
        slidesPerView: 5,
        spaceBetween: 16,
        navigation: {
            nextEl: '.home-banner-next',
            prevEl: '.home-banner-prev',
        },
        breakpoints: {
            // when window width is >= 320px
            1600: {
                slidesPerView: 5,
            },
            1240: {
                slidesPerView: 4,
            },
            960: {
                slidesPerView: 3,
            },
            // when window width is >= 480px
            0: {
                slidesPerView: 2.2,
                spaceBetween: 8,
            },
           
        }
})
</script>
<script>
    const addToCartButton = document.querySelector('.add_to_cart')
    addToCartButton.onclick = (e) => {
        let input = document.querySelector('.product_card_counter_quantity') 
        AddToCart(input)
        popupOpen('.product_added_to_cart')
    }
</script>
<script src="{% static 'lib/popup.js' %}"></script>
{% endblock %}