{% load static %}

<div class="product__galery ">
    <div class="product__galery__slider ">
        <div class="close">
            <img src="{% static 'img/ico/close.svg' %}" alt="">
        </div>
        <!-- Galery -->
        <div class="swiper-container slider galery ">
            <div class="swiper-wrapper">
                {% if variant.first %}
                    {% for field, image in product.imgs.items %}
                        {% if image.main %}
                            <div class="swiper-slide slide ">
                                <div class="play active">
                                    <img src="{% static 'img/ico/play.svg' %}" alt=">">
                                </div>
                                <img class="product_slider_image" data-src="{{ image.main }}" data-preview="{{ image.l }}" src="{{ image.l }}" alt="">
                            </div>
                        {% elif image.video %}
                            <div class="swiper-slide slide">
                                <div class="play active">
                                    <img src="{% static 'img/ico/play.svg' %}" alt=">">
                                </div>
                                <video lass="product_slider_image" width="100%" height="100%">
                                    <source src="{{ image.video }}" type="video/mp4">
                                </video>
                            </div>
                        {% else %}
                            {% if image %}
                                <div class="swiper-slide slide ">
                                    <img class="product_slider_image" src="{{ image.l }}" alt="{{ image }}">
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if variant %}
                    {% for field, image in variant.imgs.items %}
                        {% if image.main %}
                            <div class="swiper-slide slide ">
                                <div class="play active">
                                    <img src="{% static 'img/ico/play.svg' %}" alt=">">
                                </div>
                                <img class="product_slider_image" data-src="{{ image.main }}" data-preview="{{ image.l }}" src="{{ image.l }}" alt="">
                            </div>
                        {% elif image.video %}
                            <div class="swiper-slide slide">
                                <div class="play active">
                                    <img src="{% static 'img/ico/play.svg' %}" alt=">">
                                </div>
                                <video lass="product_slider_image" width="100%" height="100%">
                                    <source src="{{ image.video }}" type="video/mp4">
                                </video>
                            </div>
                        {% else %}
                            {% if image %}
                                <div class="swiper-slide slide ">
                                    <img class="product_slider_image" src="{{ image.l }}" alt="{{ image }}">
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
               
            </div>
            <!-- Navigation -->
            <div class="home-banner-prev prev navigation arrow">
                <img style="transform: rotate(180deg);" src="{% static 'img/ico/arrow.svg' %}" alt="<">
            </div>
        <div class="home-banner-next next navigation arrow">
            <img src="{% static 'img/ico/arrow.svg' %}" alt=">">
        </div>
        </div>
        <!-- Thumbnails -->
        <div class="thumbs">
            {% if variant.first %}
                {% for field, image in product.imgs.items %}
                  
                    {% if image %}
                        <div class="thumb" style="background-image: url({{ image.s }});"></div>
                    {% endif %}
                   
                {% endfor %}
            {% endif %}
            {% if variant %}
                {% for field, image in variant.imgs.items %}
                    {% if image %}
                        <div class="thumb" style="background-image: url({{ image.s }});"></div>
                    {% endif %}
                {% endfor %}
            {% endif %}
           
           
        </div>
    </div>
    
</div>

