{% load static %}

<div class="content">
    <div class="recomendations">
        <p class="title">{% if recomendation_title %}{{ recomendation_title }}{% else %}С этим товаром покупают{% endif %}</p>
        <div class="swiper-container recomendation_list">  
            <div class="swiper-wrapper">
                {% for product in recomendations %}
                    <div class="product__wrapper swiper-slide">
                        <div class="product">
                            <a href="{{ product.url }}" class="image" style="background-image: url({{ product.image.l }});"></a>
                            <div class="info">
                            {% if product.status|length %}
                                {% for status in product.status %}
                                <p class="status" style="color: {{ status.color }};">{{ status.name }}</p>
                                {% endfor %}
                            {% endif %}
                            <a href="{{ product.url }}" class="name">{{ product.name }}</a>
                            <p class="product_price {% if product.old_price > product.price %}discount{% endif %}">
                                <span class="currnet_price"><span class="number big_num">{{ product.price }}</span> RUB</span>
                                {% if product.old_price > product.price %}
                                <span class="old_price "><span class="number big_num">{{ product.old_price }}</span> RUB</span>
                                {% endif %}
                            </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
            <div class="recomendations-prev prev navigation arrow round">
                <img style="transform: rotate(180deg);" src="{% static 'img/ico/arrow.svg' %}" alt="<">
            </div>
            <div class="recomendations-next next navigation arrow round">
                <img src="{% static 'img/ico/arrow.svg' %}" alt=">">
            </div>
            
          </div>
          
    </div>
</div>

