{% extends 'base.html' %}
{% load static %}
    
{% block links %}
    <link rel="stylesheet" href="{% static 'css/auth_register_or_order.css' %}">
{% endblock %}

{% block content %}
<div class="auth_register_or_order">
    
    <div class="auth_register">
        <div>
            <p class="h3 title">Зарегистрированные клиенты</p>
            <a href="{% url 'user:login' %}?redirect=order">
                <button type="submit" class="button secondary h4 bold">Войти или зарегистрироваться</button>
            </a>
            
            <p class="help_text">Преимущества</p>
            <ul>
                <li>
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyMSI+CiAgICA8cGF0aCBmaWxsPSIjNzc3IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMiAwTDAgOXYxMC41QTEuNSAxLjUgMCAwIDAgMS41IDIxaDIxYTEuNSAxLjUgMCAwIDAgMS41LTEuNVY5TDEyIDB6bTEwLjUgMTkuNWgtLjI4OGwtNy4yNjQtNS42NDkgNi43MzUtNC43MTQuODE3LjYxM3Y5Ljc1ek0xMiAxNS45MTVsMS42NjMtMS4xNjRMMTkuNzcgMTkuNUg0LjIzMWw2LjEwNi00Ljc0OUwxMiAxNS45MTV6bTguNDIxLTcuNzI1TDEyIDE0LjA4NSAzLjU4IDguMTkgMTIgMS44NzVsOC40MjEgNi4zMTV6TTEuNSA5Ljc1bC44MTctLjYxMyA2LjczNCA0LjcxNEwxLjc4OCAxOS41SDEuNVY5Ljc1eiIvPgo8L3N2Zz4K" alt="">
                    <span>Рассылки скидочных купонов на почту</span>
                </li>
                <li>
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+CiAgICA8cGF0aCBmaWxsPSIjNzc3IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy40OTcgMjEuMDA1Yy0yLjYzIDAtNS4wMjgtLjk3NC02Ljg3LTIuNTcxTDEuMDYxIDI0IDAgMjIuOTM5bDUuNTY2LTUuNTY2YTEwLjQ1MSAxMC40NTEgMCAwIDEtMi41NzEtNi44N0MyLjk5NSA0LjcwMiA3LjY5NyAwIDEzLjQ5NyAwIDE5LjI5OCAwIDI0IDQuNzAyIDI0IDEwLjUwM2MwIDUuOC00LjcwMiAxMC41MDItMTAuNTAzIDEwLjUwMnptMC0xOS41MDRjLTQuOTYzIDAtOS4wMDIgNC4wMzgtOS4wMDIgOS4wMDIgMCA0Ljk2MyA0LjAzOSA5LjAwMiA5LjAwMiA5LjAwMiA0Ljk2NCAwIDkuMDAyLTQuMDM5IDkuMDAyLTkuMDAyIDAtNC45NjQtNC4wMzgtOS4wMDItOS4wMDItOS4wMDJ6bS01LjAzMSA5LjAzMmwxLjA2MS0xLjA2MSAyLjQ3IDIuNDcgNS40NzEtNS40NzEgMS4wNjEgMS4wNjEtNi41MzIgNi41MzItMy41MzEtMy41MzF6Ii8+Cjwvc3ZnPgo=" alt="">
                    <span>Удобный способ отследить Ваш заказ</span>
                </li>
                <li>
                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyMyI+CiAgICA8cGF0aCBmaWxsPSIjNzc3IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy41NDMgMjIuNDk3di0xLjUzMmM1LjE1IDAgOS4zMzktNC4yMzggOS4zMzktOS40NDcgMC01LjIwOS00LjE4OS05LjQ0Ny05LjMzOS05LjQ0Ny00LjU0NiAwLTguMzM5IDMuMzAzLTkuMTY3IDcuNjZoMi4wOTlsLTMuMDMgMy41NzRMLjQxNiA5LjczMWgyLjQyOUMzLjY5MyA0LjUyNiA4LjE2LjUzOSAxMy41NDMuNTM5YzUuOTg1IDAgMTAuODU0IDQuOTI1IDEwLjg1NCAxMC45NzkgMCA2LjA1NC00Ljg2OSAxMC45NzktMTAuODU0IDEwLjk3OXptLjc1Ny0xMS43NDVoMy4yODF2MS41MzJoLTQuNzk2VjUuMzlIMTQuM3Y1LjM2MnoiLz4KPC9zdmc+Cg==" alt="">
                    <span>Быстрый доступ к истории заказов</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="order">
        <div>
            <p class="h3 title">Купить без регистрации</p>
            <a href="{% url 'order:create' %}">
                <button class="button  h4 bold">Продолжить</button>
            </a>
            <p class="help_text center">Если у Вас нет лишней минутки</p>
        </div>
    </div>

</div>
{% endblock %}

{% block js %}
<script src="{% static 'lib/form_validation.js' %}"></script>

{% endblock %}