{% extends './profile.html' %}
{% load static %}
{% block profile %}
<div class="heading_second">
    <p class="h3 grey title">Мои заказы ({{ user.user_order|length }})</p>
    <div>
        <span>Показать</span>
        <select name="show" id="swon_n_orders">
            <option data-url="{% url 'user:profile_orders' 10 cur_page %}" value="10" selected>10</option>
            <option data-url="{% url 'user:profile_orders' 25 cur_page %}" value="25">25</option>
            <option data-url="{% url 'user:profile_orders' 50 cur_page %}" value="50">50</option>
        </select>
    </div>
</div>

<div class="profile_orders__data">
    <div class="profile_orders__heading">
        <span>Номер</span>
        <span>Дата</span>
        <span>Получатель</span>
        <span>Сумма</span>
        <span>Cтатус</span>
        <span>Трек-номер</span>
        <span>Детали</span>
    </div>
    {% for order in orders %}
        <div class="row">
            <p data-title="Номер" class="bold">{{ order.order_id }}</p>
            <p data-title="Дата" >{{ order.created|date:"d.m.Y" }}</p>
            <p data-title="Получатель"  class="upper">{{ order.customer_name }}</p>
            <p data-title="Сумма"  class="bold">{{ order.initial_cost }} RUB</p>
            <p data-title="Cтатус" >{{ order.order_satus }}</p>
            <p data-title="Трек-номер" >{% if order.track_number %}{{ order.track_number }}{% endif %}</p>
            <p data-title="Детали" >
                <button class="order_details_btn" onclick='SetActive("order_data_{{ order.pk }}", this)'>
                    <img src="{% static 'img/ico/arrow.svg' %}" alt="\/">
                </button>
            </p>
        </div>
        <div class="order_data" id="order_data_{{ order.pk }}">
            {% if order.status == 'declined' %}
                <div>
                    <p class="declined">Отменен</p>
                </div>
            {% else %}
                {% if order.payed %}
                    <div>
                        <p class="payed">Оплачен</p>
                    </div>
                {% else %}
                    <div>
                        <a href="{% url 'order:create' order.pk %}">
                            <button class="button">Оплатить</button>
                        </a>
                        <a href="{% url 'order:decline' order.pk %}">
                            <button class="button decline">Отменить</button>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
            <div class="products">
                {% for product in order.products.all %}
                    <div class="product">
                        <a href="{{ product.variant.get_absolute_url }}" class="image" style="background-image: url({{ product.variant.imgs.photo_1.s }});"></a>
                        <div class="data">
                            <p class="upper grey"> <a href="{{ product.variant.get_absolute_url }}">{{ product.name }}</a></p>
                            <div class="info">
                                {% if product.color %}
                                    <span>Цвет:  
                                        <div class="color" data-tippy-content="{{ product.color.name }}" tabindex="0" 
                                            style="{% if product.color.image %}background-image: url({{ product.color.imgs.image.xs }}){% else %}background-color: {{ product.color.hex }}{% endif %};">
                                        </div>
                                    </span>
                                {% endif %}
                                <span>Артикул: {{ product.code }}</span>
                            </div>
                            <p>
                                <span>Цена: <span class="black">{{ product.price }}</span> <span class="h6"> RUB</span></span>
                                <span>Кол-во: {{ product.quantity }}</span>
                            </p>
                            <p>Сумма: <span class="balack">{{ product.total }} <span>RUB</span></span></p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="adress">
                <p class="upper title">Адрес доставки</p>
                <div class="data">
                    <p class="upper 600">{{ order.customer_name }}</p>
                    <p>{{ order.adress }}</p>
                    <p>Россия</p>
                    <p>TEL: {{ order.phone }}</p>
                </div>
            </div>
            <div class="payment">
                <p class="title">Оплата онлайн на сайте</p>
                <div class="payment_data">
                    <div class="data">
                        <div class="row">
                            <p class="title">Сумма заказа</p>
                            <p class="number ещефд">{{ order.initial_cost }} RUB</p>
                        </div>
                        <div class="row">
                            <p class="title">Скидка по купону</p>
                            <p class="number">{{ order.discount_cost }} RUB</p>
                        </div>
                        <div class="row">
                            <p class="title">Стоимость доставки</p>
                            {% if order.free_delivery %}
                                <p>Бесплатно</p>
                            {% else %}
                                <p class="number">{{ order.delivery_cost }} RUB</p>
                            {% endif %}
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    {% endfor %}
   
    <div class="pagination">
        {% for page in pages %}
            <a class="{% if page == cur_page %}active{% endif %}"  href="{% url 'user:profile_orders' show page %}">{{ page }}</a>
        {% endfor %}
    </div>
</div>




{% endblock %}

{% block js %}
<script>
    const showNOrders = document.querySelector("#swon_n_orders")
    showNOrders.onchange = () => {
        for (let option of showNOrders.querySelectorAll('option')) {
            if (option.selected) {
                window.location.href = option.dataset.url
            }
        }
    }
    
</script>
{% endblock %}