{% extends './profile.html' %}
{% load static %}

{% block profile %}
<div class="profile_adress">
    <p class="title">Адреса</p>
    <div class="message">Данные обновлены</div>
    <ul class="profile_adress_list">
        
    </ul>
    <div class="adress__form">

    </div>
</div>




{% endblock %}

{% block js %}
<script src="{% static 'lib/form_validation.js' %}"></script>
<script>
    const profileAdress = document.querySelector('.profile_adress')
    const profileAdressMsg = profileAdress.querySelector('.message')
    const adressFormDiv = document.querySelector('.adress__form')
    const adressFormTpl = `{% include 'user/forms/adress_form.html' %}`
    const adressListTpl = `{% include 'user/forms/adress_list.html' %}`
    var profileAdressList = document.querySelector('.profile_adress_list')
    const url = `{% url 'user:profile_adresses' %}`
    var adress_list =  JSON.parse(`{{ adress_list_json|safe }}`)
    var chooseAdress = undefined

    function AdressList(data, action = undefined) {
        if (action == true) {
            profileAdressMsg.classList.add('active')
            profileAdressMsg.classList.add('success')
            profileAdressMsg.innerHTML = 'Данные обновлены'
        } else if (action == 'delete') {
            profileAdressMsg.classList.add('active')
            profileAdressMsg.classList.remove('success')
            profileAdressMsg.innerHTML = 'Адрес удален'
        } 
        adress_list = data
        AdressListUpdate()
    }

    function DeleteAdress(pk) {
        let url = "{% url 'user:delete_adress' %}"
        response = XHR('POST', url, JSON.stringify({'pk':pk})) 
        AdressList(response['data'], 'delete')
    }


    function AdressListUpdate() {
        profileAdressList.innerHTML = nunjucks.renderString(adressListTpl, {adress_list : adress_list});
        chooseAdress = document.querySelectorAll('input[type=radio][name=adress]')
        checked = false
        for (let adress of chooseAdress) {
            let num = parseInt(adress.dataset.num)
            adress.onchange = () => {
                profileAdressMsg.classList.remove('active')
                if (adress.checked && num != 0) {
                    adressFormDiv.innerHTML = nunjucks.renderString(adressFormTpl, {url : url, adress : adress_list[num - 1]} );
                } else if (adress.checked && num == 0) {
                    adressFormDiv.innerHTML = nunjucks.renderString(adressFormTpl, {url : url, adress : null});
                }
                let form = document.querySelector('form.profile_adress_form')
                console.log(form);
                formValidate(form)
            }
            if (adress.checked && num != 0) {
                checked = true
                adressFormDiv.innerHTML = nunjucks.renderString(adressFormTpl, {url : url, adress : adress_list[0]});
                formValidate(document.querySelector('form.profile_adress_form'))
            } 

        }
        if (checked == false && chooseAdress.length == 1) {
            chooseAdress[0].checked = true
            adressFormDiv.innerHTML = nunjucks.renderString(adressFormTpl, {url : url, adress : null});
        }

        let form = document.querySelector('.profile_adress_form')
        formValidate(form)
       
    } AdressListUpdate()



    


</script>
{% endblock %}